<% if document.pdf_document.attached? %>
  <% content_type = document.pdf_document.content_type %>
  
  <% if content_type == "application/pdf" %>
    <embed src="<%= url_for(document.pdf_document) %>?disposition=inline" 
           type="application/pdf" 
           width="100%" 
           height="600px" />
  <% elsif content_type.start_with?("image/") %>
    <img src="<%= url_for(document.pdf_document) %>" alt="<%= document.name %>" width="100%" />
  <% elsif content_type == "text/plain" %>
    <pre><%= document.pdf_document.download %></pre>
  <% elsif content_type == "application/json" %>
    <pre><%= JSON.pretty_generate(JSON.parse(document.pdf_document.download)) %></pre>
  <% else %>
    <p>File type not supported for inline viewing.</p>
  <% end %>
<% else %>
  <p>No file is attached to this document.</p>
<% end %>
